
#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}

#network-popup {
    display: none;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    text-align: center;
    position: fixed;
    top: 8px;
    left: 620px;
    width: 250px;
    height: 200px;
}