<!DOCTYPE HTML>
<!--- 타임리프의 th namespace 지정 --->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <! vis.js의 파일 참조 >
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet">

    <link href="/css/network.css" rel="stylesheet">
  </head>

  <body>
    <!--- mynetwork: 인물 관계도가 실제로 그려지는 레이아웃 --->
    <div id="mynetwork"></div>

    <!--- network-popup: 관계도의 생성, 수정, 삭제를 위한 레이아웃 --->
    <div id="network-popup">
      <span id="operation">node</span> <br />
      <!--- 노드의 정보 입력 레이아웃 --->
      <table style="margin:auto">
        <tbody>
        <tr>
          <td>name</td>
          <td> <input id="node-name" type="text" placeholder="이름을 입력하시오."/></td>
        </tr>
        <tr>
          <td>details</td>
          <td> <input id="node-details" type="text" placeholder="상세 설명을 입력하시오."/> </td>
        </tr>
        </tbody>
      </table>

      <!--- 수정, 삭제, 생성, 취소 버튼 --->
      <div id="buttons">
        <input type="button" value="add" id="addButton" />

        <!--- 노드가 직접 클릭되었을 때 나타나는 버튼 --->
        <div id="selectedButtons">
          <input type="button" value="update" id="updateButton">
          <input type="button" value="del" id="delButton" />
        </div>

        <input type="button" value="cancel" id="cancelButton" />
      </div>
    </div>

    <!--- 인물 관계도 저장 버튼: db에 변동 내용이 저장된다. --->
    <div>
      <button id="saveButton" onclick="saveNodes()">SAVE</button>
    </div>

    <!--- javascript --->
    <script th:inline="javascript">
      let nodes = null;
      let edges = null;
      let network = null;
      let data=null;
      let updatedNodes=null;

      function saveNodes() { //updatedNodes(수정된 노드) 정보를 controller로 전송
        let xhr1 = new XMLHttpRequest();
        xhr1.open('POST', '/network');
        xhr1.setRequestHeader('Content-Type', 'application/json');
        xhr1.send(JSON.stringify(updatedNodes));
        updatedNodes.splice(0, updatedNodes.length);
      }

      function setDefaultNodes(){ //페이지 업로드 시 노드 초기화
      nodes=[];
      updatedNodes=[];
      let element;

      //controller에서 전송한 노드들을 nodes[]에 저장
      /*[# th:each="node : ${nodeList}"]*/
      element={id:[[${node.id}]], label:[[${node.name}]],title:[[${node.details}]]}; //id, label, title 지정
      if([[${node.PhotoUrl}]]){ //image 지정
      let img='../images/'+[[${node.PhotoUrl}]];  //이미지가 저장된 실제 url
      element["shape"]="circularImage";
      element["image"]=img;
      }
      nodes.push(element); //nodes[]에 추가
      /*[/]*/
      data={nodes:nodes,edges:edges};
      }

      function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
      }

      function draw(){
      destroy();
      let options={
      interaction:{hover:true},
      manipulation:{
        addNode:function(data,callback){
          document.getElementById("operation").innerText="Add character";
          document.getElementById("addButton").onclick = addData.bind(this, data, callback);
          document.getElementById("cancelButton").onclick = clearPopUp.bind();
          document.getElementById("network-popup").style.display = "block";
          document.getElementById("addButton").style.display="inline-block";
          document.getElementById("selectedButtons").style.display="none";
          document.getElementById("node-name").value=null;
          document.getElementById("node-details").value=null;
        }
      },
      }
      let container=document.getElementById("mynetwork");
      network = new vis.Network(container, data, options);
      }

      function clearPopUp() { //network-popup 레이아웃을 지우고 초기화
        document.getElementById("addButton").onclick = null;
        document.getElementById("cancelButton").onclick = null;
        document.getElementById("delButton").onclick = null;
        document.getElementById("updateButton").onclick = null;
        document.getElementById("node-name").value=null;
        document.getElementById("node-details").value=null;
        document.getElementById("network-popup").style.display = "none";
      }
      function addData(data, callback) { //createdNodes[],nodes[]에 노드 추가
        data.id=vis.util.randomUUID(); //인물관계도 내의 노드를 구별하기 위한 view 상의 id 지정
        data.label = document.getElementById("node-name").value;
        data.title=document.getElementById("node-details").value;
        nodes.push(data);
        network.setData({nodes:nodes});
        updatedNodes.push({type:0,id:data.id,details:data.title,name:data.label,isHub:false,PhotoUrl:null});
        clearPopUp();
        //callback(data);
      }

      function delNode(selectedNode){
        let index=nodes.findIndex(e=>e.id==selectedNode.id);
        if (index !== -1) nodes.splice(index,1);
        network.setData({nodes:nodes});
        //var edges=getConnectedEdges(delNode);
        //edges.forEach(e=>removeEdge(e));
        index = updatedNodes.findIndex(e=>e.id==selectedNode.id&&e.type==0);
        if(index!=-1) updatedNodes.splice(index,1);
        else  updatedNodes.push({type:1, id:selectedNode.id,details:selectedNode.title,name:selectedNode.label,isHub:false,PhotoUrl:null});
        clearPopUp();
      }

      function updateNode(selectedNode){
        selectedNode.label = document.getElementById("node-name").value;
        selectedNode.title=document.getElementById("node-details").value;

        let index = updatedNodes.findIndex(e=>e.id==selectedNode.id&&e.type==0);
        if (index !== -1){
          updatedNodes[index].name=selectedNode.label;
          updatedNodes[index].details=selectedNode.title;
        }
        else  updatedNodes.push({type:2, id:selectedNode.id,details:selectedNode.title,name:selectedNode.label,isHub:false,PhotoUrl:null});
        network.setData({nodes:nodes});
        clearPopUp();
      }
      function onNode(param){
        let selectedNode=nodes.find(item=>item.id===param.nodes[0]);

        document.getElementById("operation").innerText="Update character";
        document.getElementById("updateButton").onclick=updateNode.bind(this,selectedNode);
        document.getElementById("delButton").onclick = delNode.bind(this,selectedNode);
        document.getElementById("cancelButton").onclick = clearPopUp.bind();

        document.getElementById("node-name").value=selectedNode.label;
        document.getElementById("node-details").value=selectedNode.title;

        document.getElementById("network-popup").style.display = "block";
        document.getElementById("addButton").style.display="none";
        document.getElementById("selectedButtons").style.display = "inline-block";
      }

      function init(){
      setDefaultNodes();
      draw();
      network.on("selectNode", onNode);
      }

      window.addEventListener("load", ()=>{init();});
    </script>
  </body>
</html>